# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
env/
venv/
*.env

# IDE files
.vscode/
.idea/

# Model files
*.pkl
*.h5
*.onnx

# Secret keys
service-account.json

# Uploaded data
uploaded_eeg_files/
dataset/
*.easy

# OS / Misc
.DS_Store
Thumbs.db
